---
import "../style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Distance Power Rankings</title>
  </head>

  <body id="power-rankings">
    <header>
      <h1>Distance Power Rankings Archive</h1>
    </header>

    <a href="/distance_pr_data.7z">Download Archive Data</a>

    <h2>
      <a
        href="https://www.notion.so/Distance-Power-Rankings-266465614b7d40b5829685a237564f3e"
        target="_blank"
      >
        Rules and Information</a
      >
    </h2>

    <h3>
      <a
        href="https://power-rankings-disqualified-times.seekr.pw/"
        target="_blank">Disqualified Entries</a
      >
    </h3>

    <main>
      <h2>January 2023</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/16Dw8IyZIb-NP8jNRe_EAgpQaLvNtzJKQawblHD7fv5w/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1LlB1U5E6R5J39bjzqci8Xa0KoJUAIcUgS6AmEzGTvC8/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1X7lL-trnxNsa9nMrsTASytUvFhJ92kGf8ALnnCoyd8s/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>December 2022</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1pBix6KKK937khWl0lSTz3Ky6x-1JJKs1rwT_IBO5Mx4/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1wT42ffzjHxYlmPbPjzB-5Wygpx1g2NHbLxQJ3rtWjVg/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1AyS1stC-aIHYiBigJueQnQoZt8_0uszpezSlZQ7_RoA/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>November 2022</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1hwZ-mv-1Gd0-qrV0cejNaJ5YEkpuwbNZOC7VhU-B9w0/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1DdWubcOh9q_8lF_VmLBAPXLSsBrTgd1Piy1g-c88MOA/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/119xEWhRd1OiHcw9MV92PxaD4xDD_qqifHsfFJDn4gDY/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>October 2022</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1-RmMKMd4BsbaBBlzs5vxlqf9ED3mIBQVWa_FQqC-AWA/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1qdiTU7cGV1spfW1bSDZS3FtfkMl_ZdebhYNgw7iDz9Y/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1FfDaiO-NasXm4lb-RdXIRi18CkJUDM3bK9HzNZp6DNA/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>September 2022</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1_m5wcaPN-jaGdWYuk9Crsj5tTSNy0D12CYSz_5tPKYE/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1LO6Z7wDNjvawkbTW6sFO-yDd1TVx3sIejNzsKgCFdXo/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1XJfCRo9pgJRcjfcuoBCB3EE3yg2K6VKjo5TP2jsl4Is/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>August 2022</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/14OTKl6DaoRhq_6sYbGdsVNb6jKDxpqZkwGAt54SQF04/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1o9aAE5YHkyVU5uWbbCfyMo9XpzScZELqp3NH717oqfE/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1X6402cpGpseRz5aW80awkjimNATQ3Igmua3RUWv_u28/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>July 2022</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1RYzIiqMH5INYGO23rBwDtgxyvmXvoEBFbopNbtM2T3c/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1HPRwRC6CqxtPpl5qh5oykdFB0HWwt2deG5MdASt99EM/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/13yqB8gFYx1S9dCnbD0lks0IrfK0_G5zXAqJElZgqntA/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>June 2022</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1Kk6py-zq0YuZe6uTmhg1pcrHcgoXGcRJO82jf7a68to/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1qWwedbSBSQ04BCXtSeCk3yPr3ZVIkKZjQdf79V2lFto/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1wL5W1ya-P2xx96uh5b1hmg5aJHColY3gbytE0oU1hXw/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>May 2022</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1RxMHDA51fyqLKxTwG0e5S9EQOQmClFkULXEexlTeE5c/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/15M15vqTMvhVrW0Nwr6ZPm2VfEO24INZXoVHOcAoj7t8/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1U6YBBu9oXfZPllhZo2rfEyy5kiAGKuEwcsfIs7i-fZQ/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>April 2022</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/122BeGV_KisRZiQWLlJsuaxgge_UFCR7DP3MBEX4ScdY/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/19jK5YM1KjSC8PbuwyBkdGeFysTD_h3OezTlmGFf1hMs/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/10Eyyfan1OeKLqB5pqhFDa_jBhu84M_1ALXkvDeSQg7Y/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>March 2022</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1lHpM1fx0HlOwvtIkk_-H9uPjsIXvBR2sA8YeysSixOU/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1N5t10xRPlMxsQMVNZ7pWxnK3jm0kEXcBLafdc-pJIf4/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1LDxNDUG510VkzkztrGac2OJ5AGufl82UtYSZeO-U3kY/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>February 2022</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1a_wrA-LwQCrUiSCKw6wHMMyio5hoX3iFSdmB50_fp2U/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1WaZ-gdGZJp2zHwzQZxSUKxSrOVAeSDa3e4-FdX61MK8/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1fmblsdZFzh2z_Xn_3ZlkpL6R11jSG5SQMHIIV4mTTZk/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>January 2022</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1AamG3sjpEyxR0lbwFsvUCX7ruOzxqz5R4Zgp2AWQ8rk/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1sTDTIqcPYOmKYWiokxgPHVEp6tXC6cXbpDJvUR-Mji0/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/17CgmYr1lO23nPLhq9VKjNr6PoZ6zMcY77z8_-8Sf3Mw/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>December 2021</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1LwlT9_oeDA3FtyieVuOgUgU_k_ComIwM51M5muB9xfE/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/19G8dGeIXwYXQGIIN_jlacqi9G0NDS8--0Y21tPYpcPI/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1wl3SNjYFn5o7eCM-KzDrncfo2IKBZEdq8ZzrRFRqTsE/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>November 2021</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1E264ZdaXxLhEyeHoH2Z5h74jppZjPTssAUUsZdSPdRc/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1sxbbpCIkDnVDNT-ioGnqEChXpxpXZ93h8yZ3K_9fdlY/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1Hh6e2Yvq1IJMJoD7XqjvCseH2Vkc-T4RCJweo8hFkgo/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>October 2021</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1ifx5BaSNJ0oNjU_YCW_6AOFFM5fJSdxtjPM33rR6SDQ/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1N2Xg7b0RONEW_oJrCjTKPJAP4ZbOXEdKqQNf2_UH8Wo/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1zJconBNyFgb6NPuM-nbaipUV8cy2z1S28YQ33pz2MIk/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>September 2021</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1c5QIrp4PY9xfRnSuUpMzsJOYxe2kHXSKRJVj36gATzo/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1i32xYCAdXQ7X1DpJdujEthug9_RF_8L3H-UkZUzDiOE/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/17Aft6APnLtSyzU-OKIQZx4wkZ99LODbcSbFR6DmzNcM/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>August 2021</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1dcr7sjybdz-qvbi2wticlaLut0gw7ZzfYEckUm22ZIM/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1fEzEnTbTFVGCMBMezv-m0SyjyU4Y2VsVydFWnIexMWs/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1xyrDlwLYHfDxVpNfks-wRs2JnzuY0439TX4af1tPsQg/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>July 2021</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/18jzG_8Ne0vVtOQbDfk0wNREEGb4aBjAhd17mDjv1D4M/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1IKEzdxa5dKyxDsCl6wareY9Fm_ikovysr0C8xNkUHO8/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/136p8opvqT5tAFKkIYjF85t_0dNacbfJCKPj7ukSdUaY/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>June 2021</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/13QYq4jqET_YcRldssAXS3tcLIrFeIv7sLGfI6ynGdgY/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1ZzPF60Ze6ZIyIotqSgx0f_HDkNCn2-G7qfhODiagiZw/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1pAgGjeyau4iY-5rdeGK_qDsmoHkYj4JEX4yCsBkIZNo/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>May 2021</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1J4JzR5cjUHGneJhDr86E6XASsovnVl5PUTNr_6rIAOk/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1AzGPlcjfHeIUJE7RvZURxH_YZPqm95wrFNh9gzze8ek/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1Xm1xB2B-vYAK-MnIWBvs6CrIbIOvqQUWxl8CTzNS9HA/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>April 2021</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1BayxS_fMzkdOPwOSeEzglVIu725Ta6aYiTcuBY0wH4c/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1KewDC9Ef-F78QU9CPek6c2_PTMNmLu9Ea_iiRBJ9U_w/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/165l5GLQCP6eXNqXKCK7RMZYK4I5TXg6jge8NY9Lqxko/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>March 2021</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1AC2LXKmwfKfBUrL79_5DU0R26pG6LMSxi60tDamleOI/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1oIxjAqUyqTkbYV0L4zZ2t98D9Xfqn4tL4WN5bgWQyKI/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1-OGPXqRrlA2QdyZaIAu-BiLZvVjquqCaY-aMQYOeyB0/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>February 2021</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1HYWn8Mf1HmbN_agDmoAKxkqLX9KEFo_OJL3KIw9QHEc/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1gLro8yTMjz_W2fLKmVlfTf7z60CJ2xmQXeIP0eFXbT4/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1c1wbpZCruCLa7EL4FPhazAkIboAU46IMo5mBOH-RQ2U/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>January 2021</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1StAQgJwDhv9Gnj9mk_X2RlzBjT-5JYdkmDJIw35sPmE/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/15FGCJfZzoA1ctwk8rS-5H9mRi3DWwEksQrVVZAh8EU0/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1sMTRxNVW1uToBLA85F0LNbOgUGfVb4bRRj78I_lyoEA/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>December 2020</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1cY-C2wjA6zxUuQwim1JMX1XtxuqXkxMF4IRgo_HDwK4/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1xuiyppUR2QYvVFyJu8_1YHwK5zQKASuzkmCXxJacF30/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1eNUeS6PMEf_BrMTtG8ia8GXO05jdxR99V3Mih0fUV7I/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>November 2020</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1bECRoMZO2uBzIFWuP_KkCLtINcXpaoCV6EvwPR4_crA/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1dXusZlx_r9ZFaAEr-dwwRbb9SsVFRNXH6pRB-crqOJU/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1D_9ozDhyEU-h7q4EWL_bUm3a6dyIoSs4kHQH9hYy1no/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>October 2020</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1fYfTs90cxibZRP3pl6xCIp1txRAV3VnV5XRH2nepKqE/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1RMklmToK8dN0_eI8Me8TTUC0hzD0sHtDTJMz5VCd_uY/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1GeKavksDwa5OENRVYkyGJUXEMAMvyHCIieex5sNXgKU/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>September 2020</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1AtJYbhD4bDtNGdxn6q6zhsK7wqOXfrdNdfhi3saKYww/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1whNi3y8zTZzF0vAJAxAXN0_YEamtmnnfUcJI5GlZ7oY/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1stLs-JGpKyXAG2H7mF0SyUMtpITcTjfRRxI4O-gBZK8/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>August 2020</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1_LaXV8INFkOFkHJxiTIEXAWIRZw3bghvYlylSMnjAnE/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1s2ntvGIOzXFtt5qYKVrFG96iK-LruzPfmJ3IjGjIbts/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/169KQDx1_Q72-sOva8HV_adTx2xcNED139FJYmlCFlK8/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>July 2020</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/13GwUQ6FAfSi3t67w32unRmgdcmR-qwsDuwATSwmFvD4/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1tjLrBUZX-3ZnaxX1ZZI0CaKJcHVM0CYZLN2boFv7Zv8/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1cp4BuJGq_C8xxtLfJvdTBrgVIjj9LQkMfBzf-Z3F6p8/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>June 2020</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1LZa014kKcioqRzYpg8kxGAGh5veEB5yqIbSsTPZ5F_8/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1fw0HN5aqYM54Da9Vdf8k4DvzOZQKiOa7slyOzzUAM2Y/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1QzCJi83z9hrirQBgob0CXzFVwRGAwqvq8oTHfe0N0_Q/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>May 2020</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/19ffYPH1vqOSCxy5UNKr0W5J_w8e7Rv_TqiSWVI63o28/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/16u8xC7R6aVnnQKbYbgFCGHQpnfFo1bHtfQ2woXxQwIA/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1ntB8zscGYyLEXOhLu_b5G5ouFFVF5W955TJugVXA9zY/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>April 2020</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1EZ84iNBhSxdij8P6Va147ciklvMObrEXZtGYDAW9H2A/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/142govhvRggzHPqEIQvKPlp_4svAM6xabT4R5Cxd37TM/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1NadZ9ZPaj_r8O9g3IV40s-Ize4NoOcA-aDEvVuthdxE/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>March 2020</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1s_sVQtOhEFdu564v9ddrZLCaeoashK-NEetcxbWVosw/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1XweQltNnqjT-AqY91Qclq9vO8MRJMB9e04q2hFOIIwI/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1Yk4cAsJ_cfEOIt7x2MG-iHl_sprGHQjIUJWBM43fm8Q/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>February 2020</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1I9jAsXg8KeQbRCHBRhnWdW21bzOilLM7U_fVFcZYvv8/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1EjvH3rNg1CaaKCYDRAiIdIofauYEnF6BXrB9pDaufqA/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1pHFMNO2HfHNL4ZMA211poe28Xqc9-sunuIC6fmTBbQw/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>January 2020</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1TPbf3r5YUSDQw6xY2EM3nY0uOuOxHExtKQY6sjqGL14/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1vOIi7SZwWJRe9ZKggRIIgHUVUnlLc3AMsl2w2PIgDBY/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1HnmLPjaIow7K--fCuwahiZz90EneRc3VCAPYXLL7lZQ/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>December 2019</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1H5M06Lqi0fcuHXxiOedSfjIt9rzmVHv0U1BmuWUe-t0/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1VqLIhFBkjW_JfPQ-QpeMW9Uge_0upyqPWSP0m1NgVSM/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1uXkwys4laHrSbwaN6gB2xcaxLgsXyskizwK4proQey0/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>November 2019</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/15sI12nDSLIfKMrFVJf0fMzRRXi8biL2rglojdPl4BzM/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1kU5evLH2BiInuYfvMn-4mhXsUK3PYyJyrLFjQDhLxU0/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1BYtoy_YCGpqRB4RyuZu4iQgYftLZAWA0Q-r53XjDOYI/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>October 2019</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1_AIocfU9W-uHKJyaaNyJxa3Rz-FVNOy_wjp7p3mAQAo/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1_5GFy45oiuuHWAXYuG5mdJuSgzov507OILaeDBYrsT4/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1mSxqNzi3odw5elqV8QTL5y6EEeoHRNKa5xp1IiynHXM/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>September 2019</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1u2RuUa3ULJV7LVKsH7NWmi7ixZJl4UuvQLZr6wiVzO4/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1AQTgkt9g1HjrgocMAH9a2EmeCGZoY9pgJoUbb4_835k/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1k0yskyGklg5G1zVvSk20JR6BrjrMhPat7i0ukdWXzno/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>August 2019</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1MNrqRW-Tgt9OwogVNu7GkgOymNV1RdfMefw9kSrgMkk/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1XlYRutucnWqR7Z6LhMLvUkqp2uYsDDY6ga_lWFIaDWs/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1L8ASwKcB_4oxQnWGGDgZwTqZT4f2eFuqhJd7vIC8gc8/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>July 2019</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1UXJSBlRu0VjIowRJ-ARuLvtGYqCc20bJD_sSsCXkGA8/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/16h6RdWC49bcrhme889paDo7FlKLWCG9uSTX5URx_0uw/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1qYQ3z6JNbnEAxqyCh9P7IRdIFq0S32WA77JhdvzNmXw/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>June 2019</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1zabcuwMEPCZcEyAYKom2U4ZC1JVJsjPSfZ-peTvGI-A/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1xIVaVLL5T9XojBuYRgjc7uqlmSX4-iSNSrTma6hjJI4/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1zl-G0PjCJ-H0Dd7SbRL2iB7bZH57OYsqgIad8B5-aWU/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>May 2019</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1EVbp8klNKwuiL-dNLoIDNnXeV92kzMXaBhyh09lRuTM/edit?usp=sharing"
            >Sprint</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1p31cwAr_ZMdoPG2sR6RfMLy_FcvtZoJnCd8hOy67nQs/edit?usp=sharing"
            >Challenge</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1rCgKp5ujqIpjkSkp8BNIBQTFZMkRzRKRTmBxGl6mQXU/edit?usp=sharing"
            >Stunt</a
          >
        </li>
      </ul>

      <h2>April 2019</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1HTNB9vvQf6KG6cBIUKRrMvVhCvh804hgUO5p9fhmlis/edit?usp=sharing"
            >Sprint</a
          >
        </li>
      </ul>

      <h2>First Power Rankings (April 14, 2019)</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1kQHp4S_dWrudqAbceEVP-3Uh6IMz6XTsPhlHsA2a7JM/edit?usp=sharing"
            >Sprint</a
          >
        </li>
      </ul>
    </main>
  </body>
</html>
